[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
requests = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
